

<section class="page-title title-bg14">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Şifre Sıfırlama</h2>
            <ul>
                <li>
                    <a asp-action="Anasayfa" asp-controller="Home">Anasayfa</a>
                </li>
                <li>Şifre Sıfırlama</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>

<div class="reset-password ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
                <div class="reset-confirmation text-center">
                    <h3>Şifre sıfırlama e-postası gönderildi</h3>
                    <p>Lütfen e-postanızı kontrol edin ve gelen şifre sıfırlama bağlantısını kullanarak şifrenizi sıfırlayın.</p>
                    <a href="@Url.Action("Anasayfa", "Home")" class="default-btn">Anasayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>
